.btn-success, .btn-success, .btn-success, .btn-danger, .btn-danger, .btn-danger, .btn-warning, .btn-warning, .btn-warning{
    width: 60px;
    padding: 0px;
}
.box-success .btn-success{
    width: 100%;
    padding: 6px;
}
#admin-list .label-primary a{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: normal;
}
#admin-list .edit-label{
    padding: 4px 15px;
}
.filter_submit{
    width: auto !important;
    display: initial !important;
}
.btn-block+.btn-block{
    margin-top: 0;
}
.btn-move{
    display: inline-block!important;
    width: auto!important;
}
.modified{
    display: none;
    max-height: 511px;
    position: relative;
    overflow-x: auto;
}
.content-data{
    margin-bottom: 10px;
}
.rights label{
    display: block;
    margin-bottom: 15px;
}
button.order_btn{
    border: none;
    background: none;
}
.loadedimagegallerylistimage {
    height: 155px;
    width: 155px;
    object-fit: cover;
    border: 1px solid #dddddd;
    padding: 4px;
}