<div class="input_field">
    <label>Keresés: </label><input class="form-control input-sm" placeholder="Név" aria-controls="search type="search" name="{$RightFilter.field}" value="{$RightFilter.postdata}"/>
    <input type="submit" name="SearchBtn" value="Keresés" class="filter_submit btn btn-block btn-primary">
    <input type="submit" name="BasicBtn" value="Alaphelyzet" class="filter_submit btn btn-block btn-primary">
</div>